.page-settings{
  display: flex;
}
.list-container{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  flex-shrink: 2;
}

.card-container{
  margin: 5px;
  flex-basis: 30%;
  padding: 2px 4px;
  background-color: "#efefefe";
}

.image-container{
  width: 100%;
  height: 30vh;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2px 5px;
  cursor: pointer;
}

.image-container:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5); 
}

.image {
  object-fit: cover;
  border-style: none;
  height: inherit;
  width: inherit;
}

.image-description{
  padding: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.image-description:hover{
  text-decoration: underline;
}

.reveal-component{
  flex-grow: 1;
  flex-shrink: 1;
  width: 28%;
  padding: 10px;
  background-color: black;
  color: white;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.revel-img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 50vh;
  width: 100%;
}

.reveal-image--crossBtn {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.pagination-icon{
  margin: 0px 5px;
  cursor: pointer;
  border: none;
}
